<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.dorsey.openfile-handler</string>
    <key>CFBundleName</key>
    <string>OpenFileHandler</string>
    <key>CFBundleExecutable</key>
    <string>openfile-handler</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>LSBackgroundOnly</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>Open File URL</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>openfile</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
